DJANGO_SECRET_KEY=
DJANGO_DEBUG=
CORS_ALLOWED_ORIGINS=

DJANGO_REGISTRY_NAME=
DJANGO_LOGIN_SERVER=
DJANGO_USERNAME=
DJANGO_PASSWORD=

USER_DB_NAME=
USER_DB_USER=
USER_DB_PASSWORD=
USER_DB_HOST=
USER_DB_PORT=

MEDICAL_DB_NAME=
MEDICAL_DB_USER=
MEDICAL_DB_PASSWORD=
MEDICAL_DB_HOST=
MEDICAL_DB_PORT=